<phpunit 	bootstrap="vendor/autoload.php"			
			colors="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			stopOnFailure="true">
			<testsuites>
				<testsuite name="Diool Lab PHP Unit">
					<directory>./tests</directory>
				</testsuite>
			</testsuites>
</phpunit>